/* Global styling for EventShield */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0d0d0d;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input, textarea, select {
  background: #111;
  border-radius: 6px;
  border: 1px solid #333;
  color: white;
}

button {
  cursor: pointer;
}
